PORT=8080
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.dzqrios.mongodb.net/formforge?retryWrites=true&w=majority
NODE_ENV=development

# SMTP Server Configurations (Supports Resend, Gmail, Mailgun, cPanel etc.)
SMTP_HOST=your_smtp_host
SMTP_PORT=your_smtp_port
SMTP_SECURE=false
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM="FormForge System" <noreply@yourdomain.com>
