PORT=8080
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.dzqrios.mongodb.net/formforge?retryWrites=true&w=majority
RESEND_API_KEY=your_resend_api_key_here
MAILTRAP_USER=your_mailtrap_user_id
MAILTRAP_PASS=your_mailtrap_password
NODE_ENV=development
